In [20]:
import pandas as pd
import numpy as np
import datetime as dt
import os

In [21]:
import matplotlib.pyplot as plt

In [22]:
file_path = '../../datasets/orders/orders-01.csv'
orders_1 = pd.read_csv(file_path)

In [23]:
orders_1

          Date Symbol Order  Shares
0   2011-01-10   AAPL   BUY    1500
1   2011-01-13   AAPL  SELL    1500
2   2011-01-13    IBM   BUY    4000
3   2011-01-26   GOOG   BUY    1000
4   2011-02-02    XOM  SELL    4000
5   2011-02-10    XOM   BUY    4000
6   2011-03-03   GOOG  SELL    1000
7   2011-03-03   GOOG  SELL    2200
8   2011-06-03    IBM  SELL    3300
9   2011-05-03    IBM   BUY    1500
10  2011-06-10   AAPL   BUY    1200
11  2011-08-01   GOOG   BUY      55
12  2011-08-01   GOOG  SELL      55
13  2011-12-20   AAPL  SELL    1200
14  2011-12-21   AAPL   BUY      20
15  2011-12-27   GOOG   BUY    2200
16  2011-12-28    IBM  SELL    2200

In [24]:
orders_1["Cash"] = pd.Series("1.00", index=order_1.index)

NameError: name 'order_1' is not defined