In [19]:
import pandas as pd
import numpy as np

In [20]:
my_series = pd.Series([1,3,4,np.nan,6,8])
my_series

0    1.0
1    3.0
2    4.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [21]:
my_dates_index = pd.date_range('20160101', periods=6)
my_dates_index

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06'],
              dtype='datetime64[ns]', freq='D')

In [22]:
sample_numpy_data = np.array(np.arange(24).reshape((6,4)))
sample_numpy_data

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23]])

In [23]:
sample_df = pd.DataFrame(sample_numpy_data, index=my_dates_index, columns=list('ABCD'))
sample_df

             A   B   C   D
2016-01-01   0   1   2   3
2016-01-02   4   5   6   7
2016-01-03   8   9  10  11
2016-01-04  12  13  14  15
2016-01-05  16  17  18  19
2016-01-06  20  21  22  23

In [24]:
df_from_dictionary = pd.DataFrame({
                        'float': 1.,
                        'time' : pd.Timestamp('20160825'),
                        'series' : pd.Series(1, index=list(range(4)), dtype='float32'),
                        'array' : np.array([3] *4, dtype='int32'),
                        'categories' : pd.Categorical(["test", "train", "taxes"]),
                        'dull' : 'boring data'
                    })
df_from_dictionary

ValueError: arrays must all be same length